<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <h1 class="QG_title">QG会议纪要管理系统</h1>
    <!-- 轮播图 -->
    <div class="carousel">
        <div class="carousel_left">
            <h4 class="carousel_left_title">最近的会议纪要</h4>
            <ul>
                <li>第一个</li>
                <li>第二个</li>
                <li>第三个</li>
                <li>第四个</li>
                <li>第五个</li>
            </ul>
        </div>
        <div class="carousel_right"></div>
    </div>
</body>

</html>